body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.header-banner {
    position: relative;
}

.banner-img {
    width: 101%;
    height: 240px;
    object-fit: cover;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.banner-text {
    position: absolute;
    bottom: 20px;
    left: 15px;
    color: white;
    text-shadow: 0 3px 8px rgba(0,0,0,0.4);
}

.banner-text h1 {
    margin: 0;
    font-size: 2.5rem;
}

.location-tag {
    margin: 0;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.trip-section {
    padding: 1px 20px 40px;
}

.trip-section h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #3a6e1e;
}

.trip-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.trip-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

.trip-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.trip-overlay {
    padding: 10px;
}

.trip-overlay h3 {
    margin: 5px 0;
    font-size: 1.3rem;
}

.trip-location {
    margin: 10px;
    font-weight: 550;
}

.trip-time, .trip-about {
    margin: 12px;
    color: #000000;
}

.plan-again-btn {
    display: block;
    margin: 60px auto;
    background: #0d5e3d;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
}

.footer {
    background: #0d5e3d;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0px;
}

.footer a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.no-results {
    grid-column: 1/-1;
    text-align: center;
    padding: 60px 40px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    margin: 40px 0;
}

.no-results h3 {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 15px;   
}

.no-results p {
    font-size: 1.1rem;
    color: #000000;
    line-height: 1.6;
    font-weight: 500;
}
